USE [master]
GO
/****** Object:  Database [ToDoList]    Script Date: 3.02.2021 00:03:28 ******/
CREATE DATABASE [ToDoList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoList', FILENAME = N'C:\Users\kadir\ToDoList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoList_log', FILENAME = N'C:\Users\kadir\ToDoList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoList]
GO
USE [ToDoList]
GO
/****** Object:  Table [dbo].[ToDoList]    Script Date: 3.02.2021 00:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](15) NULL,
	[SubjectTitle] [nvarchar](250) NULL,
	[SubjectText] [text] NULL,
	[Date] [nvarchar](10) NULL,
	[Status] [nvarchar](15) NULL,
 CONSTRAINT [PK_ToDoList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3.02.2021 00:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UID] [nvarchar](15) NOT NULL,
	[UserName] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Password] [nvarchar](30) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ToDoList] ON 

INSERT [dbo].[ToDoList] ([ID], [UserID], [SubjectTitle], [SubjectText], [Date], [Status]) VALUES (1, N'A31C7733CFCD007', N'Proje teslim', N'Inernet Programlama ödevi son teslim günü 06.02.2021', N'2021-02-06', N'YAPILMADI')
INSERT [dbo].[ToDoList] ([ID], [UserID], [SubjectTitle], [SubjectText], [Date], [Status]) VALUES (2, N'A31C7733CFCD007', N'deneme', N'deneeme', N'2021-02-02', N'YAPILDI')
INSERT [dbo].[ToDoList] ([ID], [UserID], [SubjectTitle], [SubjectText], [Date], [Status]) VALUES (3, N'A31C7733CFCD007', N'dasdsadsa', N'sadsadsadsa', N'2021-02-04', N'YAPILMADI')
SET IDENTITY_INSERT [dbo].[ToDoList] OFF
GO
INSERT [dbo].[Users] ([UID], [UserName], [Name], [Surname], [Email], [Password]) VALUES (N'34E3D8A59C03471', N'admin', N'admin', N'admin', N'admin@admin.com', N'21232F297A57A5A')
INSERT [dbo].[Users] ([UID], [UserName], [Name], [Surname], [Email], [Password]) VALUES (N'A31C7733CFCD007', N'Kadir', N'Kadir', N'Aydin', N'kadiraydin321@gmail.com', N'4B453F6BFC22F3D')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Email]    Script Date: 3.02.2021 00:03:28 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UK_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_UserName]    Script Date: 3.02.2021 00:03:28 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UK_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
